POSTGRES_URL="postgres://f58d4444a6d225922faf521c2e95e90f644789faf214c64a62c51205b93cb1fe:sk_MrmL_A0TYmRQ4vKFyTWRX@db.prisma.io:5432/postgres?sslmode=require"

PRISMA_DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza19Ncm1MX0EwVFltUlE0dktGeVRXUlgiLCJhcGlfa2V5IjoiMDFLOTU1V0ZRSlZQODE2QTBUWDg4OUUwNksiLCJ0ZW5hbnRfaWQiOiJmNThkNDQ0NGE2ZDIyNTkyMmZhZjUyMWMyZTk1ZTkwZjY0NDc4OWZhZjIxNGM2NGE2MmM1MTIwNWI5M2NiMWZlIiwiaW50ZXJuYWxfc2VjcmV0IjoiNWZjMGY0NWMtMjcyMi00NDYyLWFmZmQtMjBlN2I4NDAwY2VlIn0.jt09xcaSw_vXcK7PJAOUeO3afHlGVUnZBZzlyywQUQM"

# Production connection (requires PostgreSQL)
DATABASE_URL="postgres://f58d4444a6d225922faf521c2e95e90f644789faf214c64a62c51205b93cb1fe:sk_MrmL_A0TYmRQ4vKFyTWRX@db.prisma.io:5432/postgres?sslmode=require"

# Local development example (uncomment to use SQLite)
# DATABASE_URL="file:./dev.db"

